{% block dashboard_collection_block %}
    <table class="table">
        {% block dashboard_collection_header %}
            <tr>
                {% for label in labels %}
                    <th>
                        {% if label.isSortable %}
                            {{ knp_pagination_sortable(pagination, label.label, label.entityAlias) }}
                        {% else %}
                            {{ label.label }}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        {% endblock %}
        {% block dashboard_collection_content %}
            {% for list in pagination %}
                <tr>
                    {% for field in list %}
                        <td>
                            {{ link_collection_start(field) }}
                                {{ field.value }}
                            {{ link_collection_end(field) }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endblock %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
