{{ theme_link_collection("DashboardBundle:Extension/Collection:test_theme_collection.html.twig") }}
<table class="table">
    <tr>
        {% for label in labels %}
            <th>
                {% if not label.isSortable %}
                    {{ label.label }}
                {% else %}
                    {{ knp_pagination_sortable(pagination, label.label, label.entityAlias) }}
                {% endif %}
            </th>
        {% endfor %}
    </tr>
    {% for list in pagination %}
        <tr>
            {% for field in list %}
                <td>
                    {{ link_collection_start(field) }}
                        {{ field.value }}
                    {{ link_collection_end(field) }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
